{% extends 'centre/base.html' %}

{% block main_body %}

  <section class="content-header">
    <h1>
      管理名称
      <small>蛇形类名复数间隔 manage</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i>首页</a></li>
      <li><a href="#">管理名称</a></li>
      <li class="active">详情</li>
    </ol>
  </section>

  <section class="content">
    <div class="row">
