      <div class="col-md-12">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">详情名称-详情</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <table class="table table-bordered">
              <tbody>
                {% for key,value in 键值变量名.items %} 
                  <tr>
                    <th><span class='float-end'>{{ key }}</span></th>
                    <td><span class='ms-3'>{{ value | safe }}</span></td>
                  </tr>
                {% endfor %}
                <tr>
                  <th><span class='float-end'>操作</span></th>
                  <td>
                    <div class="">
                      <a class="btn btn-sm btn-default" href="{% url '子项目名称_蛇形类名复数_index' %}">返回</a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- /.box -->
      </div>
