{% extends 'centre/base.html' %}

{% block main_body %}

  <section class="content-header">
    <h1>
      管理名称
      <small>蛇形类名复数 manage</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i>首页</a></li>
      <li><a href="#">管理名称</a></li>
      <li class="active">详情</li>
    </ol>
  </section>

  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">详情名称-详情</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <table class="table table-bordered">
              <tbody>
                {% for key,value in verbose_object.items %} 
                  <tr>
                    <th><span class='float-end'>{{ key }}</span></th>
                    <td><span class='ms-3'>{{ value }}</span></td>
                  </tr>
                {% endfor %}
                <tr>
                  <th><span class='float-end'>操作</span></th>
                  <td>
                    <div class="">
                      <a class="btn btn-sm btn-default" href="{% url '子项目名称_蛇形类名复数_index' %}">返回</a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
  </section>
{% endblock %}

