{% extends 'centre/base.html' %}
{% load template_helper %}

{% block main_body %}
{% block content %}

  <section class="content-header">
    <h1>
      管理名称
      <small>蛇形类名复数间隔 manage</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i>首页</a></li>
      <li><a href="#">管理名称</a></li>
      <li class="active">列表</li>
    </ol>
  </section>

  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="box box-primary">
          <div class="box-header with-border">

            <h3 class="box-title"></h3>

            <form accept-charset="UTF-8" class="well form-search" action="{% url '子项目名称_蛇形类名复数_index' %}" id="new_q" method="get">
              <div class="fn"><input name="utf8" type="hidden" value="✓"></div>
              {% csrf_token %}
              <div class='mb10'>
