                <button class="btn btn-info btn-sm fn ml20" type="submit">查 询</button>
                <button class="btn btn-info btn-sm fn" onclick="window.location.href=$(&quot;.form-search&quot;).attr(&quot;action&quot;);; return false;">全部</button>
