                  <th>操作</th>
                </tr>
              </thead>

              <tbody>
                {% for object in 蛇形类名复数 %}
                  <tr>
                    {% list_num page_obj.number page_obj.paginator.per_page forloop.counter as return_val %}
                    <td>{{ return_val }}</td>
