                    <td>
                      <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                          操作 <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right min-width-auto" role="menu">
                          <li><a href="{% url '子项目名称_蛇形类名_show' object.id %}">查看</a></li>
