                        </ul>
                      </div>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <!-- /.box-body -->

          {% url_params query as query_str %}
          {% paginates page_obj query_str %}
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
  </section>
{% endblock %}
{% endblock %}
