{% extends 'centre/base.html' %}
{% load template_helper %}

{% block main_body %}
{% block content %}

  <section class="content-header">
    <h1>
      管理名称
      <small>蛇形类名复数 manage</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i>首页</a></li>
      <li><a href="#">管理名称</a></li>
      <li class="active">列表</li>
    </ol>
  </section>

  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="box box-primary">
          <div class="box-header with-border">

            <h3 class="box-title"></h3>

            <form accept-charset="UTF-8" class="well form-search" action="{% url '子项目名称_蛇形类名复数_index' %}" id="new_q" method="get">
              <div class="fn"><input name="utf8" type="hidden" value="✓"></div>
              {% csrf_token %}
              <span class="" >

              </span>
              <button class="btn btn-info btn-sm fn ml20" type="submit">查 询</button>
              <button class="btn btn-info btn-sm fn" onclick="window.location.href=$(&quot;.form-search&quot;).attr(&quot;action&quot;);; return false;">全部</button>
            </form>
          </div>

          <!-- /.box-header -->
          <div class="box-body">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>序号</th>
                  {% comment %} <th>项目编号</th> {% endcomment %}
                  <th>操作</th>
                </tr>
              </thead>

              <tbody>
                {% for object in 蛇形类名复数 %}
                  <tr>
                    {% list_num page_obj.number page_obj.paginator.per_page forloop.counter as return_val %}
                    <td>{{ return_val }}</td>
                    {% comment %} <td>{{ object.project_code }}</td> {% endcomment %}
                    <td>
                      <div class="">
                        <a class='btn btn-sm btn-info' href="{% url '子项目名称_蛇形类名_show' object.id %}">查看</a>
                      </div>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <!-- /.box-body -->

          {% url_params query as query_str %}
          {% paginates page_obj query_str %}
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
  </section>
{% endblock %}
{% endblock %}
