<style>
  input, select, textarea {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  }
</style>

{% extends 'centre/base.html' %}

{% block main_body %}
  <section class="content-header">
    <h1>
      管理名称
      <small>蛇形类名复数间隔 manage</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
      <li><a href="#">管理名称</a></li>
      <li class="active">创建/修改</li>
    </ol>
  </section>

  <section class="content">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">创建/修改</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->

          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="box-body">
              {% for field in form %}
              <div class="form-group col-xs-5">
                <label>{{ field.label }}</label>
                {{ field }}
              </div>
              {% endfor %}
            </div>
            <!-- /.box-body -->

            <div class="box-footer">
              <button type="submit" class="btn btn-primary">保存</button>
              <a class='btn btn-default' href="{% url '子项目名称_蛇形类名复数_index' %}">返回</a>
            </div>
          </form>

        </div>
        <!-- /.box -->
      </div>
    </div>
  </section>
{% endblock %}